<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regulamin ligi ACC</title>
</head>
<body>
<p style="text-align: center;"><strong><span style="font-size:24pt;">Regulamin kar dla sezon&oacute;w ACC ligi SimSprintSeries</span></strong></p>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-size:16pt;">&sect;1 Og&oacute;lne</span></strong></p>
<p><br></p>
<ol>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Incydent - zdarzenie w trakcie wydarzenia wyścigowego, zgłoszone przez uczestnik&oacute;w wyścig&oacute;w lub sędzi&oacute;w, naruszające zasady czystej jazdy, mogące sprowadzić albo faktycznie sprowadzające niebezpieczeństwo na innych uczestnik&oacute;w wydarzenia</span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">System przydzielania kar - kary przydzielane są w formie:</span></p>
        <ol>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">czasowej - polegającej na dodaniu kary czasowej do czasu końcowego wyścigu;</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">punktowej - polegającej na przyznaniu kierowcy punkt&oacute;w karnych do jego puli punkt&oacute;w karnych;</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">zawieszenia na wyścig - kierowca zostaje wykluczony z udziału w kolejnym wydarzeniu od momentu nałożenia kary;</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">wykluczenia z sezonu - kierowca zostaje wykluczony z udziału w obecnie trwającym sezonie oraz następnym sezonie tej samej kategorii</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">wykluczenia z ligi - oznacza zakaz startu dla kierowcy we wszystkich wydarzeniach ligi SimSprintSeries</span></p>
            </li>
        </ol>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Kierowcy w trakcie trwającego sezonu posiadają pulę punkt&oacute;w karnych, kt&oacute;ra początkowo wynosi zero punkt&oacute;w. Pula ta zwiększa się wraz z otrzymywaniem kar punktowych.</span></p>
        <ol>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">Uzbieranie przez kierowcę 10 punkt&oacute;w karnych skutkuje jego zawieszeniem na następny wyścig;</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">Uzbieranie 20 punkt&oacute;w karnych oznacza wykluczenie kierowcy z obecnego sezonu, w kt&oacute;rym dostał karę oraz sezonu następnego tej samej kategorii.</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">Pula punkt&oacute;w karnych kierowcy przechodzi między sezonami tej samej kategorii.</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">Punkty kierowcy przedawniają się po odbyciu się 10 kolejnych wydarzeń ligowych trwającego sezonu lub sezonu następnego tej samej kategorii.</span></p>
            </li>
        </ol>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">W przypadkach wyjątkowych lub nieobjętych regulaminem, sędziowie mogą postąpić dla danego incydentu według własnego uznania, odpowiednio argumentując przyjęte przez siebie stanowisko.</span></p>
    </li>
</ol>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-size:16pt;">&sect;2 Kwestie szczeg&oacute;lne</span></strong></p>
<p><br></p>
<ol>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Uczestnicy sezonu zobowiązani są do zgłaszania swojej obecności lub nieobecności w wydarzeniu do godziny przed rozpoczęciem wydarzenia.</span></p>
    </li>
</ol>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-size:16pt;">&sect;3 Zdarzenia i kary</span></strong></p>
<p><br></p>
<ol>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Incydent wyścigowy (racing incident) -&nbsp;zdarzenie w kt&oacute;rym nie da się jednoznacznie ustalić winy oraz nie ma ono wpływu na innych kierowc&oacute;w <strong>- nie podlega karze</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Reprymenda - incydent spowodowany przez kierowcę należy uznać za niebezpieczny i m&oacute;głby doprowadzić do incydent&oacute;w gorszego rodzaju, a kierowca jednocześnie miał możliwość postąpić w danej sytuacji bezpiecznie <strong>- 1 pkt karny</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Incydent mniejszej wagi - spowodowanie kolizji z innym kierowcą w kt&oacute;rej:</span></p>
        <ol>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">kierowca poszkodowany został lekko uszkodzony albo</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">kierowca poszkodowany stracił pozycję na rzecz sprawcy i sprawca nie oddał pozycji albo</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">kierowca poszkodowany stracił pozycję na rzecz innych kierowc&oacute;w albo</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">strata poszkodowanego mimo nie wystąpienia powyższych i tak była znacząca dla wyniku</span></p>
            </li>
        </ol>
        <p style="text-align: justify;"><strong><span style="font-size:12pt;">- 10s i 2 pkt karne</span></strong></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Incydent średniej wagi - spowodowanie&nbsp;<strong>incydentu mniejszej wagi</strong>&nbsp;z dwoma kierowcami, lub spowodowanie kolizji z innym kierowcą w kt&oacute;rej:</span></p>
        <ol>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">poszkodowany został mocno uszkodzony, ale może kontynuować wyścig albo</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">poszkodowany stracił ilość pozycji większą niż 4 (wyłączając pierwsze okrążenie)</span></p>
            </li>
        </ol>
        <p style="text-align: justify;"><strong><span style="font-size:12pt;">- 15s i 3 pkt karne</span></strong></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Incydent większej wagi - spowodowanie&nbsp;<strong>incydentu średniej wagi&nbsp;</strong>z dwoma kierowcami lub&nbsp;<strong>mniejszej wagi z przynajmniej 3 kierowcami&nbsp;</strong>lub spowodowanie kolizji z innym kierowcą w kt&oacute;rej:</span></p>
        <ol>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">poszkodowany został uszkodzony w spos&oacute;b uniemożliwiający mu ukończenie wyścigu (DNF)</span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">kara dla tej kategorii może zostać zwiększona, jeśli w ten spos&oacute;b poszkodowanych zostało więcej os&oacute;b, lub w mniejszych kategoriach ucierpiało więcej os&oacute;b (klauzula karambolu)</span></p>
            </li>
        </ol>
        <p style="text-align: justify;"><strong><span style="font-size:12pt;">- 20s i min. 4 pkt karne</span></strong></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Blokowanie w kwalifikacjach - spowolnienie kierowcy będącego na szybkim okrążeniu w przypadku kiedy sprawca na takim okrążeniu nie był <strong>- 2 pkt karne</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Wyprzedzanie poza torem - w przypadku kiedy sprawca wyprzedza na ż&oacute;łtej fladze i nie oddaje pozycji poszkodowanemu <strong>- 5s i 2 pkt karne</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Wyprzedzanie na ż&oacute;łtej fladze - w przypadku kiedy sprawca wyprzedza na ż&oacute;łtej fladze i nie oddaje pozycji poszkodowanemu <strong>- 5s i 2 pkt karne</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Niezgłoszenie nieobecności/obecności lub niepojawienie się na wyścigu mimo zgłoszenia obecności <strong>- 2 pkt karne, przy czym trzykrotne przewinienie to przeniesienie kierowcy na rezerwę</strong></span></p>
    </li>
</ol>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-size:16pt;">&sect;4 Modyfikatory kar i wyjątki</span></strong></p>
<p><br></p>
<ol>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Spowodowanie kolizji w przypadku niebezpiecznego powrotu na tor, przy jednoczesnym ustaleniu, że kierowca m&oacute;gł wr&oacute;cić na tor bezpieczniej lub poczekać <strong>- dodatkowy 1 punkt karny</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Spowodowanie incydentu w warunkach ż&oacute;łtej flagi, SC lub VSC <strong>- dodatkowy 1 punkt karny</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Spowodowanie incydentu na pierwszym okrążeniu <strong>- dodatkowy 1 punkt karny</strong></span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Udowodnione intencjonalne działanie kierowcy w celu spowodowania incydentu:</span></p>
        <ol>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">mniejszej wagi lub w celu spowodowania SC <strong>- zawieszenie na następny wyścig</strong></span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">średniej wagi <strong>- zawieszenie na kolejne 3 wyścigi sezonu</strong></span></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">większej wagi <strong>- wykluczenie z sezonu</strong></span></p>
            </li>
        </ol>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Popełnianie ponownie tych samych wykroczeń przez kierowcę w danym sezonie, uznane może zostać przez sędzi&oacute;w za recydywę, kt&oacute;ra to wpływa na wysokość otrzymanej przez sprawcę kary:</span></p>
        <ol>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">Z zasady modyfikator recydywy liczy się następująco:</span></p>
                <p style="text-align: justify;"><strong><span style="font-size:12pt;">liczba punkt&oacute;w karnych * liczba recydywy tego samego rodzaju * 1,5 zaokrąglone w g&oacute;rę</span></strong></p>
            </li>
            <li style="list-style-type:lower-alpha;font-size:12pt;">
                <p style="text-align: justify;"><span style="font-size:12pt;">Wyjątkiem są kary za recydywę incydent&oacute;w celowych:</span></p>
                <ol>
                    <li style="list-style-type:lower-roman;font-size:12pt;">
                        <p style="text-align: justify;"><span style="font-size:12pt;">Recydywa celowego spowodowania incydentu mniejszej lub średniej wagi skutkuje wykluczeniem z sezonu.</span></p>
                    </li>
                    <li style="list-style-type:lower-roman;font-size:12pt;">
                        <p style="text-align: justify;"><span style="font-size:12pt;">Recydywa celowego spowodowania incydentu większej wagi skutkuje wykluczeniem z całej ligi.</span></p>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p><br></p>
<p><br></p>
<p style="text-align: center;"><strong><span style="font-size:16pt;">&sect;5 Postanowienia dodatkowe</span></strong></p>
<p><br></p>
<ol>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">Co do zasady ocenie i ewentualnemu ukaraniu podlegają wyłącznie incydenty zgłoszone przez innych kierowc&oacute;w będących uczestnikami wyścigu. Sędziowie mają jednak prawo do ukarania kierowcy mimo braku zgłoszenia, jeśli posiadają informacje o zachowaniu kierowcy, kt&oacute;re należy uznać za karygodne i ze wyższych względ&oacute;w wymaga ukarania.&nbsp;</span></p>
    </li>
    <li style="list-style-type:decimal;font-size:12pt;">
        <p style="text-align: justify;"><span style="font-size:12pt;">W przypadku sytuacji nieuregulowanych w regulaminie lub w przypadku kt&oacute;rych stosowanie wprost przepis&oacute;w regulaminu byłoby rażąco niesprawiedliwie, sędziowie jednomyślnie mogą zadecydować inaczej niż przewiduje regulamin kar.</span></p>
    </li>
</ol>
</body>
</html>